<div class="adsense">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5454662060965506"
     crossorigin="anonymous"></script>
    <!-- Display ads -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-5454662060965506"
        data-ad-slot="5656110498"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  </div>
  